.pokemonCard {
    cursor: pointer;
    margin-bottom: 3px;
}

.card:hover {
    background-color: aqua;
}


/* General styles */

body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}


/* Navbar styles */

.navbar {
    margin-bottom: 20px;
}


/* Pokemon card styles */

.pokemonCard {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.pokemonCard:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.pokemonCard .card-body {
    padding: 20px;
}

.pokemonCard .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.pokemonCard .card-subtitle {
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}


/* Spinner styles */

.spinner {
    display: block;
    margin: 20px auto;
}


/* Modal styles */

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: capitalize;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.modal-body .pokemon-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.modal-body img {
    border-radius: 50%;
    height: 150px;
    margin-bottom: 10px;
    width: 150px;
}

.modal-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    display: flex;
    justify-content: center;
}

.modal-footer button {
    width: 100%;
}